*.hgt
*.stl
*.zip
*.log
/hgt_files/*
/node_modules/*
*.min.*
elevstl
celevstl
celevstl-zip
celevstl-ziptile
readziphgt
tileszip
/stls/*
include-maps.js

# VS Code user-specific files (personal settings, not for sharing)
.vscode/
